<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link sent</title>
</head>
<body>
    <div>
        <h2>Notification</h2>
        <p>A password reset link has been sent to your email.</p>
        <p>Please check your inbox and click on the link to reset your password.</p>
    </div>
</body>

</html>